/.idea/workspace.xml
/.idea/vcs.xml
/.PVS-Studio/settings.json
/.idea/AboutEverythingInJava.iml
/.idea/amplicode-jpa.xml
/.PVS-Studio/ide-warnings.json
/.idea/misc.xml
/.idea/modules.xml
/.idea/.gitignore
/.idea/dictionaries/project.xml
/.idea/dbnavigator.xml
